<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.10.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="app" class="q-pa-lg" style="max-width: 600px; margin: 0 auto;">
      <h1>
        Ahau
      </h1>

      <div v-if="!invite">
        No invite code!
      </div>

      <div v-if="state.ahauRunning === null">Checking...</div>
      <div v-else-if="state.ahauRunning === false">No Ahau running, please start/ install</div>


      <div v-if="state.inviteState">
        {{ state.inviteState }}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.10.0/dist/quasar.umd.prod.js"></script>
    <script type="module">
      const App = {
        setup () {
          const invite = new URL(window.location).searchParams.get('invite')
          const tryInvite = (invite) => {
            const url = new URL('http://localhost:12345')
            url.searchParams.set('invite', invite)

            return fetch(url.href)
          }

          const state = Vue.reactive({
            ahauRunning: null, // start in unknown state
            inviteState: null // haven't tried it yet
          })

          console.log(invite)
          if (invite) {
            tryInvite(invite)
              .then(res => res.json())
              .then(data => {
                state.ahauRunning = true
                state.inviteState = data.msg
              })
              .catch(err => {
                state.ahauRunning = false
                console.error(err)
              })
          }

          return {
            invite,
            state, 
          }
        },
        // components: {
        // }
      }

      const app = Vue.createApp(App)
      app.use(Quasar)
      app.mount('#app')
    </script>
  </body>

</html>
